<!DOCTYPE html>
<html ng-app="angApp">
<head>
  <title>App</title>
  <meta name="description" content="">
  <meta name="author" content="Hrvoje Grdic">

  <meta charset="utf-8">


  <%= favicon_link_tag 'favicon.ico' %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>


  <%= csrf_meta_tags %>
</head>
<body data-no-turbolink>
<%= gflash %>
<!-- Static navbar -->
<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to "Home", root_url  %></li>
        <% if user_signed_in? %>
            <li class="dropdown">
              <ul class="dropdown-menu" role="menu">
              </ul>
            </li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
            <li><a href="#" >Welcome <%= current_user.email %></a> </li>
            <li> <%= link_to 'Profile', user_profile_path, class: "btn btn-default" %></li>
            <li> <%= link_to "Sign out", destroy_user_session_path, :method => :delete %> </li>
        <% else %>
            <li><%= link_to "Sign in!", "/users/sign_in" %></li>
        <% end %>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
<% if notice %>
    <p class="alert alert-success"><%= notice %><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button></p>
<% end %>
<% if alert %>
    <p class="alert alert-danger"><%= alert %><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button></p>
<% end %>
<%= yield %>

<div class="container">
  <hr>
  <!-- Footer -->
  <footer>
    <div class="row">
      <div class="col-lg-12">
      </div>
    </div>
    <!-- /.row -->
  </footer>
</div>



</body>
</html>
